@using Better_Shkolo.Models.School;
@model SchoolDisplayModel

<div class="list-group">
    @foreach(var school in Model.Schools)
    {
        <p class="list-group-item list-group-item-action">@school.Name - @school.City
            <a asp-controller="School" asp-action="Delete" asp-route-id="@school.Id" class="btn btn-danger">Delete</a>
            <a asp-controller="School" asp-action="Edit" asp-route-id="@school.Id" class="btn btn-primary">Edit</a>
            <a asp-controller="Teacher" asp-action="Create" asp-route-id="@school.Id" class="btn btn-primary">Add teacher</a>
            <a asp-controller="Teacher" asp-action="View" asp-route-id="@school.Id" class="btn btn-primary">View teachers</a>
            <a asp-controller="Subject" asp-action="Create" asp-route-id="@school.Id" class="btn btn-primary">Add subject</a>
            <a asp-controller="Subject" asp-action="View" asp-route-id="@school.Id" class="btn btn-primary">View subjects</a>
            <a asp-controller="Grade" asp-action="Create" asp-route-id="@school.Id" class="btn btn-primary">Add grade</a>
            <a asp-controller="Grade" asp-action="View" asp-route-id="@school.Id" class="btn btn-primary">View grades</a>
            <a asp-controller="Student" asp-action="Add" asp-route-id="@school.Id" class="btn btn-primary">Add student</a>
            <a asp-controller="Student" asp-action="View" asp-route-id="@school.Id" class="btn btn-primary">View students</a>
        </p>
    }
</div>
