@using Better_Shkolo.Models.Account
@using Better_Shkolo.Services.GradeService
@{
    ViewData["Title"] = "Home Page";
    Layout = "Layout";
}
@model HomeModel
@inject IGradeService gradeService
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Начало</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-pzjw8f+ua/C8rYT8/aaU6PKe4iOOLblAd/Su9QlgVPa3R2jGz9z9gJWtOEmdK5S" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-grid-alt"></i>
                </button>
                <div class="sidebar-logo">
                    <a asp-action="Index" asp-controller="Home"><img src="/logof.png" style="height:35px;" /></a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a asp-action="Index" asp-controller="Home" class="sidebar-link">
                        <i class="lni lni-agenda"></i>
                        <span>Начало</span>
                    </a>
                </li>
                @if (await service.IsGradeTeacher())
                {
                    <li class="sidebar-item">
                        <a asp-action="Students" asp-controller="Grade" class="sidebar-link">
                            <i class="lni lni-layout"></i>
                            <span>Моят клас</span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("Teacher") || User.IsInRole("Director"))
                {
                    <li class="sidebar-item">
                        <a asp-action="Mine" asp-controller="Consultation" class="sidebar-link">
                            <i class="lni lni-layout"></i>
                            <span>Справки</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                           data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                            <i class="lni lni-protection"></i>
                            <span>Дейности</span>
                        </a>
                        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a asp-action="Add" asp-controller="Activity" class="sidebar-link">Добави дейност</a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-action="Schedule" asp-controller="Activity" class="sidebar-link">Училищен календар</a>
                            </li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("Parent") || User.IsInRole("Student"))
                {
                    <li class="sidebar-item">
                        <a asp-action="Schedule" asp-controller="Table" class="sidebar-link">
                            <i class="lni lni-layout"></i>
                            <span>Седмична програма</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-action="Schedule" asp-controller="Activity" class="sidebar-link">
                            <i class="lni lni-layout"></i>
                            <span>Училищен календар</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-action="Profile" asp-controller="Student" class="sidebar-link">
                            <i class="lni lni-layout"></i>
                            <span>Ученически профил</span>
                        </a>
                    </li>
                }
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                       data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                        <i class="lni lni-protection"></i>
                        <span>Съобщения</span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a asp-action="Index" asp-controller="Message" class="sidebar-link">Съобщения</a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-action="Send" asp-controller="Message" class="sidebar-link">Изпрати съобщение</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a asp-action="MyProfile" asp-controller="Account" class="sidebar-link">
                    <i class="lni lni-user"></i>
                    <span>Профил</span>
                </a>
                <a asp-action="Logout" asp-controller="Account" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Излизане</span>
                </a>
            </div>
        </aside>
        <div class="main p-3">
            <div id="elements">
                <br />
                <br />
                @if (User.IsInRole("Student") || User.IsInRole("Parent"))
                {
                    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
                    <div class="container">
                        <div class="row">
                            <a asp-action="Profile" asp-controller="Student" asp-route-term="1" class="col-md-4 col-xl-3">
                                <div class="card bg-c-blue order-card">
                                    <div class="card-block">
                                        <h6 class="m-b-20 text-white">Успех</h6>
                                        <h2 class="text-right text-white"><i class="fa fa-arrow-circle-o-up f-left"></i><span id="success"></span></h2>
                                    </div>
                                </div>
                            </a>

                            <a asp-action="Profile" asp-controller="Student" asp-route-term="1" class="col-md-4 col-xl-3">
                                <div class="card bg-c-green order-card">
                                    <div class="card-block">
                                        <h6 class="m-b-20">Отсъствия</h6>
                                        <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span id="absenceses"></span></h2>
                                    </div>
                                </div>
                            </a>

                            <a asp-action="Profile" asp-controller="Student" asp-route-term="1" class="col-md-4 col-xl-3">
                                <div class="card bg-c-yellow order-card">
                                    <div class="card-block">
                                        <h6 class="m-b-20">Отзиви</h6>
                                        <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span id="reviews"></span></h2>
                                    </div>
                                </div>
                            </a>

                            <a asp-action="Schedule" asp-controller="Test" asp-route-gradeId="@Model.GradeId" asp-route-term="1" class="col-md-4 col-xl-3">
                                <div class="card bg-c-pink order-card">
                                    <div class="card-block">
                                        <h6 class="m-b-20">Тестове</h6>
                                        <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span id="tests"></span></h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <br />
                    <br />

                    <div style="border: 2px solid #3498db; padding: 15px; border-radius: 10px; background-color: #ecf0f1;">
                        <div style="text-align: center; font-size: 18px; color: #3498db; margin-bottom: 10px;">
                            <i class="far fa-clock" style="margin-right: 5px;"></i> Текущ час: @Model.CurrentPeriod
                        </div>
                        <div style="text-align: center; font-size: 18px; color: #3498db;">
                            <i class="far fa-clock" style="margin-right: 5px;"></i> Следващ час: @Model.NextPeriod
                        </div>
                    </div>

                    <br />
                    <br />
                    <br />
                    <br />

                    <div class="d-flex justify-content-center align-items-center">
                        <div class="col-md-6 custom-margin h-100" style="max-width: 500px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <!-- Added a trophy icon for the title -->
                                            <h1><i class="fa fa-trophy text-warning"></i> КЛАСАЦИЯ</h1>
                                            <div class="d-flex flex-row gap-3">
                                                <!-- Added a star icon for decoration -->
                                                <i class="fa fa-star text-primary"></i>
                                                <i class="fa fa-star text-primary"></i>
                                                <i class="fa fa-star text-primary"></i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- Added some background color and padding for a cleaner look -->
                                                <div class="bg-light p-3 rounded">
                                                    <!-- Added icons and colors to the ranking information -->
                                                    <p><i class="fa fa-list-ol text-success"></i> МЯСТО В ПАРАЛЕЛКАТА: @Model.PlaceInGrade</p>
                                                    <p><i class="fa fa-graduation-cap text-info"></i> МЯСТО ВЪВ ВИПУСКА: @Model.PlaceInYear</p>
                                                    <p><i class="fa fa-university text-danger"></i> МЯСТО В УЧИЛИЩЕ: @Model.PlaceInSchool</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 custom-margin h-100" style="max-width: 500px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <!-- Changed the crown icon to a book icon for the title -->
                                            <h1><i class="fa fa-book text-warning"></i> ПРЕДМЕТИ С НАЙ-ВИСОК УСПЕХ</h1>
                                            <div class="d-flex flex-row gap-3">
                                                <!-- Changed the heart icons to star icons for decoration -->
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- Changed background color and padding for a cleaner look -->
                                                <div class="bg-light p-3 rounded">
                                                    <!-- Changed icons and colors for the ranking information -->
                                                    <p><i class="fa fa-trophy text-success"></i> @Model.SubjectInFirstPlace.Item1: @Model.SubjectInFirstPlace.Item2</p>
                                                    <p><i class="fa fa-graduation-cap text-info"></i> @Model.SubjectInSecondPlace.Item1: @Model.SubjectInSecondPlace.Item2</p>
                                                    <p>
                                                        <i class="fa fa-star text-danger"></i>
                                                        @Model.SubjectInThirdPlace.Item1: @Model.SubjectInThirdPlace.Item2
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (!User.IsInRole("Student") && !User.IsInRole("Parent") && !User.IsInRole("Teacher"))
                {
                    <h3 style="color:red">Все още не си добавен в твоето училище!</h3>
                }
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <script src="/js/home.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFOnpDln4hrXvNCbQvhpSJzB79zVFDj81W9HstT9cHrLxo4MPONlFQENs" crossorigin="anonymous"></script>
    <script>
        $(document).ready(() => {
            // Fetch data from the API
            fetch('/api/statistics/GetStudentStatistics')
                .then(response => response.json())
                .then(data => {
                    // Update the UI with the new data
                    $('#success').text(data.success);
                    $('#absenceses').text(data.absenceses);
                    $('#reviews').text(data.reviews);
                    $('#tests').text(data.tests);
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        });
    </script>
</body>
</html>

<style>
    a {
        text-decoration: none;
    }

    h2 {
        text-align: right;
    }

    body {
        margin-top: 0px;
        background: #FAFAFA;
    }

    .order-card {
        color: #fff;
    }

    .bg-c-blue {
        background: linear-gradient(45deg,#4099ff,#73b4ff);
    }

    .bg-c-green {
        background: linear-gradient(45deg,#FF0000,#EE4B2B);
    }

    .bg-c-yellow {
        background: linear-gradient(45deg,#FFB64D,#ffcb80);
    }

    .bg-c-pink {
        background: linear-gradient(45deg,#9F2B68,#BF40BF);
    }


    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .card .card-block {
            padding: 25px;
        }

    .order-card i {
        font-size: 26px;
    }

    .f-left {
        float: left;
    }

    .f-right {
        float: right;
    }

    .custom-margin {
        margin-right: 75px; /* Adjust the value to your preferred space */
    }
</style>