@{
    Layout = "Layout";
}

@using Better_Shkolo.Models.Grade;
@model GradeCreateModel

<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">

<br />
<br />
<br />
<br />
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<h3 class="text-center">@ViewData["Title"]</h3>
<div class="row grey-bg container-fluid">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Create" method="post">
            <div class="mb-3">
                <label asp-for="GradeName" class="form-label"></label>
                <input asp-for="GradeName" class="form-control" aria-required="true" />
                <span asp-validation-for="GradeName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="GradeSpecialty" class="form-label"></label>
                <input asp-for="GradeSpecialty" class="form-control" aria-required="true" />
                <span asp-validation-for="GradeSpecialty" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TeacherId"></label>
                <select asp-for="TeacherId" class="form-control">
                    @foreach (var user in Model.Teachers)
                    {
                        <option value="@user.Id">@user.FirstName @user.LastName - @user.Email</option>
                    }
                </select>
            </div>
            <input type="hidden" asp-for="SchoolId" />
            <div class="mb-3 text-center">
                <input class="btn btn-primary" type="submit" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}