@using Better_Shkolo.Models.Grade;
@model GradeCreateModel

@{
    Layout = "Layout";
}

<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">

<h3 class="text-center">@ViewData["Title"]</h3>
<br />
<br />
<br />
<br />
<br />
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<h3 class="text-center">@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="GradeName"></label>
                    <input asp-for="GradeName" class="form-control" />
                    <span asp-validation-for="GradeName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GradeSpecialty"></label>
                    <input asp-for="GradeSpecialty" class="form-control" />
                    <span asp-validation-for="GradeSpecialty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TeacherId"></label>
                    <select asp-for="TeacherId" class="form-control">
                        @foreach (var user in Model.Teachers)
                        {
                            <option value="@user.Id">@user.FirstName @user.LastName - @user.Email</option>
                        }
                    </select>
                </div>
                <input type="hidden" asp-for="SchoolId" />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Запази промените</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
