@using Better_Shkolo.Models.Student;
@model IEnumerable<StudentDisplayModel>

@if (User.IsInRole("Administrator") || User.IsInRole("Director"))
{
    Layout = "Layout";

    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">

    <br />
    <br />
    <br />
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="list-group">
    @foreach (var student in Model)
    {
        <p class="list-group-item list-group-item-action">
            @student.FirstName @student.LastName - @student.Email |
            @if (User.IsInRole("Teacher"))
            {
                <a asp-action="ById" asp-controller ="Absences" asp-route-studentId="@student.Id"> Виж отсъствия </a>
                <a asp-action="ById" asp-controller ="Mark" asp-route-studentId="@student.Id"> Виж оценки </a>
                <a asp-action="ById" asp-controller ="Review" asp-route-studentId="@student.Id"> Виж отзиви </a>
            }
        </p>
    }
</div>
