@using Better_Shkolo.Models.Student;
@model IEnumerable<StudentDisplayModel>

@if (User.IsInRole("Administrator") || User.IsInRole("Director"))
{
    Layout = "Layout";

    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">

    <br />
    <br />
    <br />
}
<br />
<br />
<br />
<br />
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<div class="list-group">
    <h3>Ученици в класа</h3>
    @foreach (var student in Model)
    {
        <p class="list-group-item list-group-item-action">
            @student.FirstName @student.LastName - @student.Email |
            <a asp-action="Profile" asp-controller="Student" asp-route-userId="@student.UserId" asp-route-term="1"> Виж профил</a>
            <a asp-action="ById" asp-controller="Absences" asp-route-studentId="@student.Id"> Виж отсъствия </a>
        </p>
    }
</div>
