@{
    Layout = "Layout";
}
@using Better_Shkolo.Models.Grade;
@model GradeViewModel

<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<br />
<br />
<br />
<br />
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<div class="list-group  grey-bg container-fluid">
    @foreach (var grade in Model.Grades)
    {
        <p class="list-group-item list-group-item-action">
            @grade.GradeName
            <a asp-controller="Grade" asp-action="Delete" asp-route-id="@grade.Id" class="btn btn-danger">Изтрий</a>
            <a asp-controller="Grade" asp-action="Edit" asp-route-id="@grade.Id" class="btn btn-warning">Коригирай</a>
            <a asp-controller="Grade" asp-action="Students" asp-route-id="@grade.Id" class="btn btn-primary">Ученици</a>
            <a asp-controller="Table" asp-action="Schedule" asp-route-gradeId="@grade.Id" class="btn btn-primary">Програма</a>
        </p>
    }
</div>