@using Better_Shkolo.Models.School;
@model SchoolViewModel
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    @if (User.IsInRole("Director"))
    {
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 id="success"></h5>
                    <p class="card-text">Предмети</p>
                    <a asp-action="SubjectsView" asp-controller="Director" asp-route-id="@Model.Id" class="btn btn-primary">Виж</a>
                    <a asp-action="SubjectAdd" asp-controller="Director" asp-route-id="@Model.Id" class="btn btn-primary">Добави</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 id="absenceses"></h5>
                    <p class="card-text">Учители</p>
                    <a asp-action="TeachersView" asp-controller="Director" asp-route-id="@Model.Id" class="btn btn-primary">Виж</a>
                    <a asp-action="TeacherAdd" asp-controller="Director" asp-route-id="@Model.Id" class="btn btn-primary">Добави</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 id="reviews"></h5>
                    <p class="card-text">Класове</p>
                    <a asp-action="GradesView" asp-controller="Director" asp-route-id="@Model.Id" class="btn btn-primary">Виж</a>
                    <a asp-action="GradeAdd" asp-controller="Director" asp-route-id="@Model.Id" class="btn btn-primary">Добави</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 id="tests"></h5>
                    <p class="card-text">Ученици</p>
                    <a asp-action="StudentsView" asp-controller="Director" asp-route-id="@Model.Id" class="btn btn-primary">Виж</a>
                    <a asp-action="StudentAdd" asp-controller="Director" asp-route-id="@Model.Id" class="btn btn-primary">Добави</a>
                </div>
            </div>
        </div>
    }
</div>