@using Better_Shkolo.Models.Test
@model TestViewScheduleModel
<link href="/css/testSchedule.css" rel="stylesheet" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Календар за тестове</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>
@{
    Layout = "";
}
<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-grid-alt"></i>
                </button>
                <div class="sidebar-logo">
                    <a asp-action="Index" asp-controller="Home"><img src="/logof.png" style="height:35px;" /></a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a asp-action="Index" asp-controller="Home" class="sidebar-link">
                        <i class="lni lni-home"></i>
                        <span>Начало</span>
                    </a>
                </li>
                @if (await service.IsGradeTeacher())
                {
                    <li class="sidebar-item">
                        <a asp-action="Students" asp-controller="Grade" class="sidebar-link">
                            <i class="lni lni-users"></i>
                            <span>Моят клас</span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("Teacher") || User.IsInRole("Director"))
                {
                    <li class="sidebar-item">
                        <a asp-action="Mine" asp-controller="Consultation" class="sidebar-link">
                            <i class="lni lni-book"></i>
                            <span>Справки</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-action="Index" asp-controller="Document" class="sidebar-link">
                            <i class="lni lni-folder"></i>
                            <span>Документи</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                           data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                            <i class="lni lni-briefcase"></i>
                            <span>Дейности</span>
                        </a>
                        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a asp-action="Add" asp-controller="Activity" class="sidebar-link">
                                    <i class="lni lni-plus"></i> Добави дейност
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-action="Schedule" asp-controller="Activity" class="sidebar-link">
                                    <i class="lni lni-calendar"></i> Училищен календар
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("Parent") || User.IsInRole("Student"))
                {
                    <li class="sidebar-item">
                        <a asp-action="Schedule" asp-controller="Table" class="sidebar-link">
                            <i class="lni lni-calendar"></i>
                            <span>Седмична програма</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-action="Subjects" asp-controller="Lesson" class="sidebar-link">
                            <i class="lni lni-book"></i>
                            <span>Уроци</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-action="Schedule" asp-controller="Activity" class="sidebar-link">
                            <i class="lni lni-calendar"></i>
                            <span>Училищен календар</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-action="Profile" asp-controller="Student" class="sidebar-link">
                            <i class="lni lni-user"></i>
                            <span>Ученически профил</span>
                        </a>
                    </li>
                }
                <li class="sidebar-item">
                    <a asp-action="Index" asp-controller="Newspaper" class="sidebar-link">
                        <i class="lni lni-library"></i>
                        <span>Училищен вестник</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                       data-bs-target="#messages" aria-expanded="false" aria-controls="messages">
                        <i class="lni lni-envelope"></i>
                        <span>Съобщения</span>
                    </a>
                    <ul id="messages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a asp-action="Index" asp-controller="Message" class="sidebar-link">
                                <i class="lni lni-envelope"></i> Съобщения
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-action="Send" asp-controller="Message" class="sidebar-link">
                                <i class="lni lni-popup"></i> Изпрати съобщение
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a asp-action="MyProfile" asp-controller="Account" class="sidebar-link">
                    <i class="lni lni-user"></i>
                    <span>Профил</span>
                </a>
                <a asp-action="Logout" asp-controller="Account" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Излизане</span>
                </a>
            </div>
        </aside>
        <div class="main p-3">
            <div id="elements">
                <br />
                <br />
                <div class="container">
                    <div class="timetable-img text-center">
                        <a asp-action="Schedule" asp-controller="Test" asp-route-gradeId="@Model.GradeId" asp-route-week="@Model.WeekBack">Седмица назад</a> |
                        <a asp-action="Schedule" asp-controller="Test" asp-route-gradeId="@Model.GradeId" asp-route-week="@Model.WeekForward">Седмица напред</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr class="bg-light-gray">
                                    <th class="text-uppercase">
                                        Време
                                    </th>
                                    <th class="text-uppercase">Понеделник</th>
                                    <th class="text-uppercase">Вторник</th>
                                    <th class="text-uppercase">Сряда</th>
                                    <th class="text-uppercase">Четвъртък</th>
                                    <th class="text-uppercase last">Петък</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle">Първи час (8:00 - 8:45)</td>
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        var a = Model.Tests.FirstOrDefault(x => x.DateWeekDayNumber == (int)((DayOfWeek)((i + 1) % 7)) && x.Period == 1);
                                        if (a != null)
                                        {
                                            <td>
                                                <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@a.SubjectName</span>
                                                <div class="margin-10px-top font-size14">@a.TestDate</div>
                                                <div class="font-size13 text-black">@a.TeacherName</div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="bg-light-gray"></td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td class="align-middle">Втори час (9:05 - 9:50)</td>
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        var a = Model.Tests.FirstOrDefault(x => x.DateWeekDayNumber == (int)((DayOfWeek)((i + 1) % 7)) && x.Period == 2);
                                        if (a != null)
                                        {
                                            <td>
                                                <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@a.SubjectName</span>
                                                <div class="margin-10px-top font-size14">@a.TestDate</div>
                                                <div class="font-size13 text-black">@a.TeacherName</div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="bg-light-gray"></td>
                                        }
                                    }
                                </tr>

                                <tr>
                                    <td class="align-middle">Трети час (10:00 - 10:45)</td>
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        var a = Model.Tests.FirstOrDefault(x => x.DateWeekDayNumber == (int)((DayOfWeek)((i + 1) % 7)) && x.Period == 3);
                                        if (a != null)
                                        {
                                            <td>
                                                <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@a.SubjectName</span>
                                                <div class="margin-10px-top font-size14">@a.TestDate</div>
                                                <div class="font-size13 text-black">@a.TeacherName</div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="bg-light-gray"></td>
                                        }
                                    }
                                </tr>

                                <tr>
                                    <td class="align-middle">Четвърти час (10:55 - 11:40)</td>
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        var a = Model.Tests.FirstOrDefault(x => x.DateWeekDayNumber == (int)((DayOfWeek)((i + 1) % 7)) && x.Period == 4);
                                        if (a != null)
                                        {
                                            <td>
                                                <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@a.SubjectName</span>
                                                <div class="margin-10px-top font-size14">@a.TestDate</div>
                                                <div class="font-size13 text-black">@a.TeacherName</div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="bg-light-gray"></td>
                                        }
                                    }
                                </tr>

                                <tr>
                                    <td class="align-middle">Пети час (11:50 - 12:35)</td>
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        var a = Model.Tests.FirstOrDefault(x => x.DateWeekDayNumber == (int)((DayOfWeek)((i + 1) % 7)) && x.Period == 5);
                                        if (a != null)
                                        {
                                            <td>
                                                <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@a.SubjectName</span>
                                                <div class="margin-10px-top font-size14">@a.TestDate</div>
                                                <div class="font-size13 text-black">@a.TeacherName</div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="bg-light-gray"></td>
                                        }
                                    }
                                </tr>

                                <tr>
                                    <td class="align-middle">Шести час (12:45 - 13:30)</td>
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        var a = Model.Tests.FirstOrDefault(x => x.DateWeekDayNumber == (int)((DayOfWeek)((i + 1) % 7)) && x.Period == 6);
                                        if (a != null)
                                        {
                                            <td>
                                                <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@a.SubjectName</span>
                                                <div class="margin-10px-top font-size14">@a.TestDate</div>
                                                <div class="font-size13 text-black">@a.TeacherName</div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="bg-light-gray"></td>
                                        }
                                    }
                                </tr>

                                <tr>
                                    <td class="align-middle">Седми час (13:40 - 14:25)</td>
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        var a = Model.Tests.FirstOrDefault(x => x.DateWeekDayNumber == (int)((DayOfWeek)((i + 1) % 7)) && x.Period == 7);
                                        if (a != null)
                                        {
                                            <td>
                                                <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">@a.SubjectName</span>
                                                <div class="margin-10px-top font-size14">@a.TestDate</div>
                                                <div class="font-size13 text-black">@a.TeacherName</div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="bg-light-gray"></td>
                                        }
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <script src="/js/home.js"></script>
</body>
</html>
