@{
    Layout = "Layout";
}
@using Better_Shkolo.Models.Student;
@model StudentCreateModel

<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">


<h3 class="text-center">@ViewData["Title"]</h3>
<br />
<br />
<br />
<div class="row grey-bg container-fluid">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post">
            <div class="mb-3">
                <label asp-for="UserId"></label>
                <select asp-for="UserId" class="form-control">
                    @foreach (var user in Model.Users)
                    {
                        <option value="@user.Id">@user.FirstName @user.LastName - @user.Email</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="GradeId"></label>
                <select asp-for="GradeId" class="form-control">
                    @foreach (var grade in Model.Grades)
                    {
                        <option value="@grade.Id">@grade.GradeName</option>
                    }
                </select>
            </div>
            <input type="hidden" asp-for="SchoolId" />
            <div class="mb-3 text-center">
                <input class="btn btn-primary" type="submit" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

