@using Better_Shkolo.Models.Parent;
@model ParentCreateModel

<h3 class="text-center">@ViewData["Title"]</h3>
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="AsignParent" method="post">
            <div class="mb-3">
                <label asp-for="UserId"></label>
                <select asp-for="UserId" class="form-control">
                    @foreach (var user in Model.Users)
                    {
                        <option value="@user.Id">@user.FirstName @user.LastName - @user.Email</option>
                    }
                </select>
            </div>
            <div class="mb-3 text-center">
                <input class="btn btn-primary" type="submit" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

