@using Better_Shkolo.Models.Student;
@model StudentViewModel
<br />
<br />
<br />
<br />
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<div class="list-group">
    @foreach (var student in Model.Students)
    {
        <p class="list-group-item list-group-item-action">
            @student.FirstName @student.LastName - @student.Email
            <a asp-controller="Absences" asp-action="Add" asp-route-id="@student.Id" asp-route-subjectId="@Model.SubjectId" class="btn btn-primary">Добави отсъствие</a>
            <a asp-controller="Mark" asp-action="Add" asp-route-id="@student.Id" asp-route-subjectId="@Model.SubjectId" class="btn btn-primary">Добави оценка</a>
            <a asp-controller="Review" asp-action="Add" asp-route-id="@student.Id" asp-route-subjectId="@Model.SubjectId" class="btn btn-primary">Добави отзив</a>
            <a asp-controller="Mark" asp-action="AddTermMark" asp-route-studentId="@student.Id" asp-route-subjectId="@Model.SubjectId" class="btn btn-primary">Добави срочна оценка</a>
            <a asp-controller="Mark" asp-action="AddYearMark" asp-route-studentId="@student.Id" asp-route-subjectId="@Model.SubjectId" class="btn btn-primary">Добави годишна оценка</a>
        </p>
    }
</div>
