@{
    Layout = "Layout";
}
@using Better_Shkolo.Models.Student;
@model StudentViewModel

<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="list-group grey-bg container-fluid">
    @foreach (var student in Model.Students)
    {
        <p class="list-group-item list-group-item-action">
            @student.FirstName @student.LastName - @student.Email
            <a asp-controller="Student" asp-action="AsignParent" asp-route-id="@student.Id" class="btn btn-primary">Asign parent</a>
            <a asp-controller="Student" asp-action="Edit" asp-route-id="@student.Id" class="btn btn-warning">Edit</a>
            <a asp-controller="Student" asp-action="Delete" asp-route-id="@student.Id" class="btn btn-danger">Delete</a>
        </p>
    }
</div>
