@using Better_Shkolo.Models.Mark;
@model IEnumerable<MarkDisplayModel>

<div class="list-group grey-bg container-fluid">
    @foreach (var mark in Model)
    {
        <div class="list-group-item list-group-item-action">
            @mark.SubjectName |
            @foreach (var item in mark.Marks)
            {
                @if (item.Value == 6)
                {
                    <button class="mark-button" value="@item.Id" id="six">@item.Value</button>
                }
                @if (item.Value == 5)
                {
                    <button class="mark-button" value="@item.Id" id="five">@item.Value</button>
                }
                @if (item.Value == 4)
                {
                    <button class="mark-button" value="@item.Id" id="four">@item.Value</button>
                }
                @if (item.Value == 3)
                {
                    <button class="mark-button" value="@item.Id" id="three">@item.Value</button>
                }
                @if (item.Value == 2)
                {
                    <button class="mark-button" value="@item.Id" id="two">@item.Value</button>
                }
            }
            <div id="dropdown-content">
            </div>
        </div>
    }
</div>

<style>
    #dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    #six {
        background-color: #26C281;
        border-color: #26C281;
    }

    #five {
        background-color: #3598dc;
        border-color: #3598dc;
    }

    #four {
        background-color: #F7CA18;
        border-color: #F7CA18;
    }

    #three {
        background-color: #f2784b;
        border-color: #f2784b;
    }

    #two {
        background-color: #e7505a;
        border-color: #e7505a;
    }

    button {
        color: white;
    }
</style>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.mark-button').on('click', function () {
                var param = $(this).val();
                var selectorCell = $(this).closest('.grade-selector');

                selectorCell.find('.grade-btn').not(this).removeClass('selected');

                if ($(this).hasClass('selected')) {
                    $('#dropdown-content').css('display', 'none');
                    $(this).removeClass('selected');
                }
                else {
                    selectorCell.find('.grade-btn').removeClass('selected');
                    $(this).addClass('selected');

                    $.ajax({
                        url: 'https://localhost:7169/api/statistics/GetMark?id=' + param,
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            $('#dropdown-content').css('display', 'block');
                            $('#dropdown-content').html('');

                            var teacherName = data.teacherName;
                            var value = data.value;
                            var addedOn = data.addedOn;

                            let h4 = $('<h4>');
                            h4.text('Teacher: ' + teacherName);

                            let p1 = $('<p>');
                            p1.text('Mark: ' + value);

                            let p2 = $('<p>');
                            p2.text('Added on: ' + addedOn)

                            $('#dropdown-content').append(h4);
                            $('#dropdown-content').append(p1);
                            $('#dropdown-content').append(p2);
                        }
                    });
                }
            });
        });
    </script>
}