@using Better_Shkolo.Models.Standings;
@using System.Security.Claims;
@model StandingsDisplayModel

<form method="get">
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="">
        </div>
    </div>
</form>

<br />

@foreach (var student in Model.SchoolStandings.Take(20))
{
    <div class="card">
        @if (student.Id == User.FindFirstValue(ClaimTypes.NameIdentifier))
        {
            <div class="card-body bg-primary">
                @student.Place @student.FirstName @student.LastName - @student.Email (@student.Success)
            </div>
        }
        else
        {
            <div class="card-body">
                @student.Place @student.FirstName @student.LastName - @student.Email (@student.Success)
            </div>
        }
    </div>
}
