@using Better_Shkolo.Models.Account

@model UserProfileModel
<br />
<br />
<br />
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/profile.css"/>
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>@Model.FirstName @Model.LastName</h4>
                                <p class="text-secondary mb-1">Администратор</p>
                                <p class="text-muted font-size-sm">@Model.Country @Model.City @Model.Address</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Име</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.FirstName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Фамилно име</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.LastName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Имейл</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Email
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Телефонен номер</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.PhoneNumber
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Адрес</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Country @Model.City, @Model.Address
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <a asp-action="Information" asp-controller="Account" class="btn btn-info ">Редактирай</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>